{% set selected_tunnel = wireguard | selectattr('name', 'equalto', wg_group) | first %}
{% set global = { 'localarea' : 'global' } %}
{% for node in selected_tunnel.nodes %}
{% if node == ansible_fqdn %}
# WireGuard Tunnel: {{ wg_group }}
[Interface]
PrivateKey = {{ selected_tunnel.nodes[node].wg_private | default("MISSING") }}
Address = {{ selected_tunnel.nodes[node].wg_ip | default("MISSING") }}
ListenPort = {{ selected_tunnel.nodes[node].wg_port | default("55667") }}
{% if selected_tunnel.nodes[node].wg_local is defined %}
{% set global = global.update({ 'localarea': selected_tunnel.nodes[node].wg_local }) %}
{% endif %}
{% endif %}
{% endfor %}
{% for node in selected_tunnel.nodes %}
{% if node != ansible_fqdn %}
{% set peer_local = selected_tunnel.nodes[node].wg_local | default("global") %}
{% set peer_route = "" %}
{% if selected_tunnel.nodes[node].wg_route is defined %}
{% set peer_route = ","+selected_tunnel.nodes[node].wg_route %}
{% endif %}

# Peer {{ node }} ({{ peer_local }})
[Peer]
PublicKey = {{ selected_tunnel.nodes[node].wg_public }}
AllowedIPs = {{ selected_tunnel.nodes[node].wg_ip }}/32{{ peer_route }}
PersistentKeepalive = 25
{% if peer_local == global['localarea'] or peer_local == "global" %}
{% if selected_tunnel.nodes[node].wg_extip is defined %}
Endpoint = {{ selected_tunnel.nodes[node].wg_extip }}:{{ selected_tunnel.nodes[node].wg_port }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}